.planets_container {
  margin-top:50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.planets_table {
  border-collapse: collapse;
}

.planets_table {
  .table_position, 
  .table_planet {
  width: 30px;
  }
}
  
.planets_table th,
.planets_table td {
  padding: 5px;
  text-align: center;
}

.truncate {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.planets_table th {
  background-color: #414141ce;
}

.planets_table img {
  min-width: 25px;
  max-width: 25px;
  height: auto;
}

.selected {
  color: #8fd390;
}

.galaxy_selector {
  a:link, a:visited, a:active {
    color: white;
    text-decoration:none;
  }
  a:hover{
    color: rgb(182, 182, 182);
  }
  input {
    width: 35px;
  }
  margin-bottom: 20px;
}

tr {
    &:nth-child(2n) {
      background-color: #222222ce;
    }

    &:hover {
      background-color: #333333ce;
    }

    &.selected {
      background-color: #444444ce;
    }
}

.galaxy_button {
  background-color: #333333ce;
  color: #fff;
  border: none;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: #555;
  }

  &:disabled {
    background-color: #888;
    cursor: not-allowed;
  }
}