// Estilos generales
body {
  background-color: $dark-background;
  color: $secondary-color;
}

.game-title {
  text-align: center;
  color: $primary-color;
}

.planet-name {
    text-align: center;
}

.resources-container {
    display: flex;
    justify-content: center;
}

.resource {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-inline: 15px;
    font-weight: bold;
}

.separator {
  border: none;
  border-top: 1px dashed $primary-color;
  margin: 20px 0;
}

.building-name {
  color: $primary-color;
}

.building-image {
  width: 150px;
  height: auto;
}

.user-button, .update-building-button {
  padding: 10px 20px;
  color: $dark-background;
  background-color: $primary-color;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    background-color: darken($primary-color, 10%);
  }
}

.container {
  display: flex;
}

.left-sidebar {
  flex: 0.5;
}

.main-content {
  flex: 2;
}

.right-sidebar {
  flex: 0.5;
}
.sidebar {
  text-align: center;
  ul {
    display: flex;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
    li img{
      width: 125px;
    }
    li h4 {
      margin-top: 0;
    }
  }
}
.section_buildings {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
}

.building-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px; /* Espacio entre los elementos */
  width: 100%;
}

.building-item {
}

